<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copyright Page - HealthIt Works</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .copyright {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
     {% include "componets/navbar.html" %}</br></br>
    <div class="copyright ">
        <h1>Copyright © 2024 HealthIt Works</h1>
        <p>All rights reserved.</p>
        <p>No part of this website may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the hospital, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law.</p>
        <p>For permission requests, write to the hospital, addressed “Attention: Permissions Coordinator,” at the address below.</p>
        <p>HealthIt Works<br>
        123 Hospital Street<br>
        Vijayawada, Andhra Pradesh,502355<br>
        India</p>
    </div>
{% include "componets/footer.html" %}
</body>
</html>
